<img src="../../assets/soliton.png">
<div class="login">
<input class="simple" type="text" [(ngModel)]="username" id="username"  (keyup.enter)="change()" placeholder="Username or Emailid">
<input class="simple" type="password" [(ngModel)]="password" id="password"  (keyup.enter)="change()" placeholder="password">
<button class="simple" style="border-radius:50%;width:100px;height:40px;background-color: rgb(45, 149, 235)">Log in</button>
<input class="simple"  type="checkbox" id="checkbox"><label for="checkbox">Remember me</label>
</div>
